<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Integrador 2022</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>
  </head>

  <body class="bg-light">
    <%- include('includes/navbar') %> <%- include('includes/hamburgerButton') %>

    <div class="container bg-light text-center mt-5">
      <h1>Bioeconomia e Empreendedorismo</h1>
      Bioeconomia é uma economia sustentável que reúne todos os setores da
      economia que utilizam recursos biológicos ou seres vivos. Esse mercado
      destina-se a oferecer soluções eficazes e concretas para os grandes
      desafios sociais, como as mudanças climáticas, a substituição de recursos
      fósseis, a segurança alimentar e a saúde da população. <br />
      Empreendedorismo é o envolvimento de pessoas e processos que, em conjunto,
      levam à transformação de ideias em oportunidades. E a perfeita
      implementação destas oportunidades leva à criação de negócios de sucesso.
      Estudando os dois conceitos acima, nosso grupo trabalhou na elaboração
      prática, a partir de um referencial teórico bibliográfico construído em
      sala de aula, de uma composteira caseira com o objetivo de gerar renda
      extra (Empreendedorismo) e a utilização de resíduos orgânicos que iriam
      ser destinado ao lixo comum (Bioeconomia), utilizando-se de materiais
      sustentáveis e de fácil acesso à população.
    </div>

    <br />

    <span class="placeholder col-12 verde"></span>

    <div class="container d-flex flex-column">
      <video class="video" controls autoplay>
        <source src="assets/video/bioeconomia.mp4" type="video/mp4" />
      </video>
      <%- include('includes/composteira/materiais.ejs') %>

      <%- include('includes/composteira/etapas') %>
      

      <h1>Referências:</h1>
      <p>
        FERREIRA, A. G., BORBA, S. N. de S., & WIZNIEWSKY, J. G. A prática da
        compostagem para a adubação orgânica pelos agricultores familiares de
        Santa Rosa/RS. Revista Eletrônica do curso de direito da UFSM, v. 8, p.
        307–317. 2013.
      </p>
      <p>
        OLIVEIRA, Francisco Nelsieudes Sombra; FILHO, Hermínio José Moreira;
        CAJAZEIRA, João Paulo. Uso da Compostagem em Sistemas Agrícolas
        Orgânicos. Fortaleza: Embrapa Agroindústria Tropical, 2014. 17p.
        (Embrapa Agroindústria Tropical. Documentos, 89).
      </p>
      <p>
        Site Sustentável. Composteira: o que é? Para que serve? 2019. Disponível
        em:<br />
        <a
          href="https://sitesustentavel.com.br/composteira-o-que-e-para-que-serve/."
          >https://sitesustentavel.com.br/composteira-o-que-e-para-que-serve/.</a
        ><br />
        Acesso em: 20 set. 2022.
      </p>
      <p>
        SILIA,H.N. Estudos sobre compostagem com lodo de ETE com vistas à
        aplicação em solo agrícola. Santo André, 2015. Disponível em:<br />
        <a
          href="https://www.researchgate.net/profile/Hugo_Silia/publication/311382687_Estudos_sobre_compostagem_com_lodo_de_ETE_com_vistas_a_aplicacao_em_solo_agricola/links/58439bd108ae8e63e62"
        >
          https://www.researchgate.net/profile/Hugo_Silia/<br />publication/311382687_Estudos_sobre_<br />compostagem_com_lodo_de_ETE_com_vistas_<br />a_aplicacao_em_solo_agricola/<br />links/58439bd108ae8e63e62 </a
        ><br />
        3ceff/Estudos-sobre-compostagem-com-lodo-de-ETE-com-vistas-a-aplicacao-em-solo-agricola.pdf>
        Acesso em: 20 set. 2022.
      </p>
      <p>
        Como montar uma composteira caseira? Disponível em:
        <a
          href="https://super.abril.com.br/sociedade/manual-como-montar-uma-composteira-caseira"
          >https://super.abril.com.br/sociedade/manual-como-montar-uma-composteira-caseira</a
        >
        Acesso em: 10 out. 2022. ‌
      </p>
    </div>
    <br /><br />
    <%- include('includes/bottomBar') %>
  </body>
</html>
